@model IEnumerable<FightData.Domain.Entities.Exhibition>    
@{
    ViewData["Title"] = "Index";
}

<h2>Exhibitions</h2>




<table>
    <thead>
        <tr>
            <th>Name</th>
            @foreach(var website in Model.First().Webpages)
            {
                <th>
                    @website.Website.WebsiteName
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var exhibition in Model)
        {
            <tr>
                <td>
                    @exhibition.Name
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create new exhibition</a>
